.card:hover{
    border: 3px solid gray;
    transition: border 0.5s;
}
.catagory{
    background-color: #ffc107;
}
.catagory:hover{
 background-color: black;
 color: white;
 transition: background-color 0.5s;
}